
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,hebrew,latin-ext');



html{
    scroll-behavior: smooth;
}

body{
    
    font-family:'Raleway';
    padding:0px;
margin:0px;
border:0px;


}



ul {
    
    font-weight:300; 
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    position: fixed;
    padding:0px; 
    width:100% ;
 top:120px;
 z-index:20;
}



  li{
    display: inline;
   
  }
 
li a{
    margin:  10px;
    color: #F26522;
    letter-spacing:0.9px; 
}

a:active, a:hover, a:focus {
    color: rgb(255, 212, 0);;
    text-decoration: none;
}

a:focus {
    outline: none;
    outline-offset: none;
}
.black{
    background-color:#030303;
    width: 100%;
    height: auto;
    
  
 
}

.content_home{
    height:1000px;
 display: flex;
  justify-content: center;
  align-items: center;
  
  padding-bottom:120px; 

  
}

.items{
    width: 430px;
    padding: 20px;
    
}

.logo{
    padding-top: 360px;

}


.items p{
    
    color: white;
    text-align: center;
    font-weight: 300;
    letter-spacing:0.9px;
    padding-top:10px;
  
  
}
.media{
  
   display:flex ;
   align-items: center;
   justify-content: center;
   padding-top: 40px;
  
}
.social_icons{
    width:30px ; 
    margin: 10px;
       
}

.arrows{
    display: block;
    margin-left: auto;
    margin-right: auto;
   padding-top: 310px;
  
  

 
}


.listen{
    width: 100%;
    height: auto;
    padding-top: 120px;  
    position: relative;
    
}


.cover_image{
width: 60%;
height: auto;
display: flex;
justify-content:center; 
align-items: center;
margin: 0 auto;
z-index:-1 ;

}


.spotfy_player{
   width: 46%;
    position: relative;
    margin: 0 auto;
   top: 280px;
   display: flex;
   justify-content:flex-start; 
   align-items: flex-start;


}
.spotfy_player iframe{
    
    position: absolute;
    max-width:260px;
    max-height:200px; 
    margin: 0 auto;

}


/* .cover_image{
  
    height: 860px;
    background-image: url('image_face-01.png');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: contain;


} */


.watch{
    width: 100%;
    height: 1000px;
    background-color:#030303;
}
.all_videos{
    padding: 220px 120px;
}
.main_video{
    position: relative;
    width: 100%;
    height: 720px;
    
  
border: 1px solid #f26522;
float: left;

}

.main_video iframe{
    position:aab;
    width: 100%;
    height: 100%;
      
}


.side_videos{
 
    
    float: right;
}

.videos{
    width: 360px;
    height:200px;
    border: 1px solid #f26522;
    margin: 20px;
    padding: 20px;
    
    
}

.content_bio{
    height:1000px;
    display: flex;
     justify-content: center;
     align-items: center;
     
     padding-bottom:120px; 


}

.items_bio{
    width: 720px;
    padding-top: 200px;
    
    
}

.logo_bio{

    width:40% ; 
    display: block;
    margin-left: auto;
    margin-right: auto;
   
   
}

.bio_text{
width: 100%;
text-align: center;
color: white;
font-family:'Rubik';
font-weight:300; 
padding-top: 80px;
padding-bottom: 30px;
padding-left: 10px;
padding-right: 10px;
margin: 0px;
}









@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}