/**
 * Styles
 */

/* 1. Font */
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,hebrew,latin-ext");

/* Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

nav ul,
nav ul li {
  list-style: none;  
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 1em;
  line-height: 1.5;
}

/* apply a natural box layout model to all elements */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* 2. Global */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway";
  font-size: 14px;
}

/* 3. Site Navigation */
#site-navigation {
  font-weight: 300;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  position: fixed;
  padding: 0px;
  width: 100%;
  top: 90px;
  z-index: 1000;
  
}


#site-navigation li {
  display: inline;

}

#site-navigation li a {
  margin: 10px;
  color: #f26522;
  letter-spacing: 0.9px;
  
}

#site-navigation a:active,
#site-navigation a:hover,
#site-navigation a:focus {
  color: rgb(223, 187, 4);
  text-decoration: none;
}

#site-navigation a:focus {
  outline: none;
  outline-offset: none;
}


/* 4. Other */
.section {
  width: 100%;
  height: 100vh;
  
}

.is-background-dark {
  background-color: #030303;
}

.is-background-light {
  background-color: #fff;
}

.media-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons {
  width: 28px;
  margin: 14px;
}

.mobile-icon {
  display: none;
}

/* Home */
.section-home {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 100px;
  
}


.follow_btn{
height:100vh; 

}
.home-content {
  display: flex;
  flex-direction: column;
  align-items:center; 
}

.home-logo-wrapper {
  width: 390px;
  padding-top: 70px; 
}

.home-logo-wrapper img {
  display: block;
  width: 100%;
  height: auto;
}

.home-media {
  padding-top: 30px;
}

.home-arrows {
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -18px;
}


.buy_music{
  padding-top:40px;
  text-align: center;
}
.buy_music button{
padding:10px 20px;
border: 1px solid #f26522;
border-radius: 20px;
color: white;
background-color: #f26522;
cursor: pointer;

}

.buy_music button:active,
.buy_music button:hover,
.buy_music button:focus{
  border: 1px solid #fc783b;
  background-color: #fc783b;
  text-decoration: none;
  outline: none;

}


.formkit-form{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  #101010;
  color: white;
  width: 100%;
  bottom:0px; 
  position: absolute;
  padding-top:50px; 
  padding-bottom:100px;
}

form h3{
  text-align: center;
}
.formkit-fields{
padding-top:20px;

}

.formkit-fields input,
.formkit-submit{
  padding:10px 20px;
  margin:  7px 10px;
  border: 1px solid  white;
  border-radius: 20px;
  background-color: transparent;
  font-size: 12px;
  color: white;
}

.formkit-fields input:focus{
  outline: none;
  box-shadow: none;
}
.formkit-fields button{
  background-color: transparent;
}



.formkit-submit:active,
.formkit-submit:hover,
.formkit-submit:focus{
  border: 1px solid  rgb(223, 187, 4);
  color: rgb(223, 187, 4);
  text-decoration: none;
  cursor: pointer;
  
}


/* Listen */
.listen-content {
  padding-top: 100px;
  position: relative;

}

.listen-cover-image {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  z-index: -1;
}

.listen-spotfy-player {
  width: 38%;
  position: relative;
  margin: 0 auto;
  top: 220px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.listen-spotfy-player iframe {
  position: absolute;
  max-width: 260px;
  max-height: 100vh;
  margin: 0 auto;
}

/* Watch */
.section-watch {
  padding-top:120px ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.watch-content {
  max-width: 1000px;
  width: 100%;
  height: auto;
}

.watch-all-videos {
  border: 1px solid #f26522;
  margin-left: auto;
  margin-right: auto;
  max-width: 440px;
}

.watch-main-video {
  position: relative;
  position: relative;
  overflow: hidden;
  padding-top: 50%;
}

.watch-main-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* End watch */



/*Store*/

.section-store{
  display: flex;
  align-items: center;
  justify-content: center;

}

.store_card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
 
}

.store_card:after {
  content: "";
  display: table;
  clear: both;
}


.link_to_store{
text-align: center;
margin-bottom:60px;
}

.link_to_store a{
  text-decoration:none;
  cursor: pointer;
  color: #f26522;
}

.link_to_store a:hover{
  color:rgb(223, 187, 4);
}

.one_card {
  border: 1px solid #d1d3d4;
  transition: 0.3s;
  width: 18%;
  padding:10px;
  margin: 30px 20px; 
  float: left;
  

}

.one_card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: 1px solid #f26522;
  cursor: pointer;
}
.link_one_card{
  text-decoration:none;
  color:black ;
}

.card_text {
  padding: 20px 16px;
  text-align: center
}

.one_card button{
  padding: 6px 16px;
  border-radius: 20px;
  margin-top: 14px;
  background-color: #f26522;
  color:white;
  font-size: 12px;
  cursor: pointer;
}
.one_card button:active,
.one_card button:hover,
.one_card button:focus{
  background-color: #fc783b;
  text-decoration: none;
  outline: none;
}

/* End store */

/* Bio */
.section-bio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio-items {
  max-width: 720px;
  width: 100%;
}

.bio-logo {
  padding-top:60px;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bio-text {
  text-align: center;
  color: white;
  font-family: "Rubik";
  font-weight: 300;
  padding-top: 80px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
}

/* Mobile - Hidden on desktop */
#site-navigation-mobile {
  display: none;
  width: 100%;
}

/**
 * Responsive
 */

/* Small Screens */
@media (max-width: 1366px) {
  #site-navigation {
    top: 80px;
  }

  /* Section Watch */
  .watch-content {
    max-width: 980px;
  }

/* Section Store */
  .one_card{
    width: 40%;
    margin:20px;
  }


  /* Section Bio */
  .bio-content {
    padding-top: 100px;
  }
  .bio-text {
    padding-top: 40px;
  }
}

/* Mobile Screen */
@media (max-width: 1023px) {
  #site-navigation {
    display: none;
  }

  .section {
    height: auto;
    min-height: 100vh;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    position: relative;
  }

  .section-home {
    padding-bottom: 100px;
  }

  .section-watch {
    padding-bottom: 100px;
  }

  .section-bio {
    padding-bottom: 40px;
  }

  .home-logo-wrapper {
    width: 80%;
  }

  .formkit-form{

    padding-top:26px; 
    padding-bottom:33px;
    padding-left:5px;  
    padding-right:5px;

  }
  .home-arrows {
    display: none;
  }

  .listen-cover-image {
    display: none;
  }

  .listen-content {
    padding-top: 46px;
    min-height: 100vh;
  }

  .section-listen {
    background-image: url("../img/bg-listen-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .listen-spotfy-player {
    width: 100%;
    position: relative;
    margin: 0 auto;
    top: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .listen-spotfy-player iframe {
    position: absolute;
    width: 100% !important;
    height: 70vh !important;
    margin: 0 auto;
  }


.one_card{
  width: 80%;
  margin:25px;
}

  .bio-content {
    padding-top: 10px;
  }

  .bio-logo {
    max-width: 220px;
    width: 100%;
  }

  .mobile-icon {
    display: block;
    position: absolute;
    right: 24px;
    top: 24px;

  }

  .mobile-icon img {
    width: 36px;
    height: 36px;
  }

  /* Mobile Menu */
  #site-navigation-mobile {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
  }

  .mm-menu {
    display: none;
  }

  body.hideScroll {
    overflow: hidden;
  }

  .js-menu-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80px;
    height: 80px;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
  }

  .js-menu-trigger span {
    flex: 0 0 2px;
    display: block;
    width: 32px;
    height: 3px;
    margin: 3px 0;
    background-color: #f16522;
    border-radius: 2px;
  }

  .js-menu-close {
    display: block;
    margin-left: auto;
    position: relative;
    width: 80px;
    height: 80px;
  }

  .js-menu-close span {
    display: block;
    width: 32px;
    height: 2px;
    background-color: #f16522;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -16px;
  }

  .js-menu-close span:first-child {
    transform: rotate(45deg);
  }
  .js-menu-close span:last-child {
    transform: rotate(-45deg);
  }

  .js-menu {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 100;
    width: 100%;
    max-width: 320px;
    overflow-y: auto;
    background-color: #fff;
    transition: left linear 0.4s;
  }

  .navMob-fixed-top {
    display: flex;
    width: 70px;
    height: 70px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
  }
  .navMob {
    position: relative;
  }

  #navMobPrimary {
    font-family: "Raleway";
    font-size: 36px;
    font-weight: 300;
    padding-top: 60px;
  }
  #navMobPrimary a {
    color: #f16522;
    display: block;
    padding: 20px 48px;
    text-decoration: none;
  }
  /* Dynamic */
  .hideScroll .js-menu {
    left: 0;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  }
  .hideScroll .navMob-fixed-top {
    width: 320px;
    align-items: center;
  }
  .hideScroll .navMob-fixed-top {
    display: none;
  }
}
